* {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 11px;
}

window#waybar {
  background-color: rgba(17, 17, 27, 0.75);
}

tooltip {
  background-color: rgba(17, 17, 27, 0.75);
  border: none;
  border-radius: 0;
}

tooltip label {
  color: #a6adc8;
}

#taskbar {
  margin-left: 10px;
}

#taskbar button {
  background: transparent;
  box-shadow: none;
  border: none;
  border-radius: 0;
  margin: 5px 2px;
  padding: 0 7px;
}

#taskbar button:hover,
#taskbar button.active {
  background: #414356;
}

#clock,
#network,
#pulseaudio,
#backlight,
#temperature,
#battery {
  background: #11111b;
  border-radius: 10px;
  margin: 5px 2px;
  padding: 0 10px;
}

#custom-cava {
  color: #cba6f7;
  margin-top: 5px;
  font-size: 6px;
}

#clock {
  color: #b4befe;
}

#network {
  background: #89b4fa;
}

#pulseaudio {
  background: #74c7ec;

}

#backlight {
  background: #89dceb;
}

#temperature {
  background: #94e2d5;
}

#temperature.critical {
  background: #f38ba8;
}

#battery {
  background: #a6e3a1;
}

#battery.charging {
  background: #a6e3a1;
}

#battery.warning:not(.charging) {
  background: #f9e2af;
}

#battery.critical:not(.charging) {
  background: #f38ba8;
}

#pulseaudio-slider {
  min-width: 80px;
  padding: 0 3px;
}
 
#pulseaudio-slider slider {
  background-image: none;
  border: none;
  min-height: 0;
  min-width: 0;
  margin: 2px;
}

#pulseaudio-slider highlight {
  background: #74c7ec;
  border: none;
}

#pulseaudio-slider trough {
  background: #414356;
  border: none;
}

#custom-power-icon {
  color: #11111b;
  background: #f38ba8;
  border-radius: 10px;
  margin: 5px 10px 5px 2px;
  padding: 5px 10px;
}

#custom-power {
  color: #f38ba8;
  margin: 5px 2px 5px 0;
  padding: 0 5px;
}

#custom-power:hover {
  color: #11111b;
  background: #f38ba8;
  border-radius: 10px;
  margin: 5px 2px 5px 0;
  padding: 0 5px;
}

#custom-reboot {
  color: #f38ba8;
  margin: 5px 2px 5px 0;
  padding: 0 5px;
}

#custom-reboot:hover {
  color: #11111b;
  background: #f38ba8;
  border-radius: 10px;
  margin: 5px 2px 5px 0;
  padding: 0 5px;
}

#custom-logout {
  color: #f38ba8;
  margin: 5px 10px 5px 0;
  padding: 0 5px;
}

#custom-logout:hover {
  color: #11111b;
  background: #f38ba8;
  border-radius: 10px;
  margin: 5px 10px 5px 0;
  padding: 0 5px;
}
